"radar" {
  "shader.vp": "radar.vp.glsl"
  "shader.fp": "radar.fp.glsl"
  "mesh": "radar.cyr.msh"
  "scale": 40.0
  "pointSize": 0.2
}

"map" {
  "shader.vp": "hmap-debug.vp.glsl"
  "shader.fp": "hmap-debug.fp.glsl"
  "points.vp": "radar-2.vp.glsl"
  "points.fp": "radar-2.fp.glsl"
}

"arena" {
  "shader.vp": "desktop.vp.glsl"
  "shader.fp": "desktop.fp.glsl"
  "radar.size": 0.9
  "radar.offset.x": 0.25
  "radar.offset.y": 0.0
  "status.size": 0.9
  "status.offset.x": -0.25
  "status.offset.y": 0.0
}

"status" {
  "font": "mono.config"
  "shader.vp": "mainMenu_vp.glsl"
  "shader.fp": "mainMenu_fp.glsl"
}

"level" {
  "gen" {
    "units": 100
    "radius": 10.0
  }
}

"player" {
  "mass": 1.0
  "moment": 10.0
  "width": 2.0
  "length": 10.0
  "max.change.angle": 0.2
  "max.change.output": 0.1
  "max.change.ballast": 0.4
  "pos.x": 240.0
  "pos.y": 117.0
}

"engine" {
  "full_ahead": 0.500
  "half_ahead": 0.250
  "slow_ahead": 0.125
  "dead_slow_ahead": 0.075
  "dead_slow_astern": -0.0375
  "slow_astern": -0.075
  "half_astern": -0.125
  "full_astern": -0.250
}

"clip": 1
