"radar" {
  "shader.vp": "radar.vp.glsl"
  "shader.fp": "radar.fp.glsl"
  "mesh": "radar.msh"
}

"arena" {
  "shader.vp": "desktop.vp.glsl"
  "shader.fp": "desktop.fp.glsl"
  "radar.size": 0.9
  "radar.offset.x": 0.25
  "radar.offset.y": 0.0
  "status.size": 0.9
  "status.offset.x": -0.25
  "status.offset.y": 0.0
}

"status" {
  "font": "mono.config"
  "shader.vp": "mainMenu_vp.glsl"
  "shader.fp": "mainMenu_fp.glsl"
}

"level" {
  "gen" {
    "units": 100
    "radius": 10.0
  }
}

"player" {
  "mass": 5.0
  "moment": 1.0
}
