"menu.font": "mono.config"
"shader.vp": "mainMenu_vp.glsl"
"shader.fp": "mainMenu_fp.glsl"
"menu.lines": 5
"menu.text[0]": "Новая Игра"
"menu.text[1]": "Загрузить"
"menu.text[2]": "Настройки"
"menu.text[3]": "Сюжет"
"menu.text[4]": "Выход"
"menu.msg[0]": "action.game.new"
"menu.msg[1]": "action.game.load"
"menu.msg[2]": "action.settings"
"menu.msg[3]": "action.authors"
"menu.msg[4]": "action.exit"
"text.width": 16.0
"text.height": 32.0
"game.info": "Субмарина-3000"