BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 2
TabWidth: 2
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true
AccessModifierOffset: -2
NamespaceIndentation: All
AlignAfterOpenBracket: DontAlign
ContinuationIndentWidth: 2
ColumnLimit: 0
