[submodule "core/render/contrib/glfw"]
	path = core/render/contrib/glfw
	url = https://github.com/masscry/glfw.git
[submodule "core/render/contrib/glm"]
	path = core/render/contrib/glm
	url = https://github.com/g-truc/glm.git
[submodule "core/render/contrib/win-iconv"]
	path = core/render/contrib/win-iconv
	url = https://github.com/masscry/win-iconv.git
